<% content_for :title, "New lesson" %>

<div class="flex flex-col justify-start items-center w-full">
  <%= render "form", admin_lesson: @admin_lesson %>

  <br>

  <div>
    <%= link_to "Back to lessons", admin_course_lessons_path, class: "bg-blue-500 hover:bg-blue-700 text-white-50 font-bold py-2 px-4 rounded"  %>
  </div>
</div>
