<% content_for :title, "Editing course" %>

<div class="w-full flex flex-col justify-start items-center">
  <%= render "form", admin_course: @admin_course %>

  <br>

  <div>
    <%= link_to "Show this course", [:admin, @admin_course], class: "bg-blue-500 hover:bg-blue-600 text-white-50 rounded cursor-pointer px-4 py-2" %>
    <%= link_to "Back to courses", admin_courses_path, class: "bg-sky-500 hover:bg-sky-600 text-white-50 rounded cursor-pointer px-4 py-2" %>
  </div>
</div>

