<% content_for :title, "New course" %>

<div class="flex flex-col justify-start items-center w-full">
  <%= render "form", admin_course: @admin_course %>

  <br>

  <div>
    <%= link_to "Back to courses", admin_courses_path, class: "bg-blue-500 hover:bg-blue-700 text-white-50 font-bold py-2 px-4 rounded" %>
  </div>
</div>


